.app {
  width: 100%;
  overflow-x: hidden;
}

.main-content {
  width: 100%;
  scroll-behavior: smooth;
}

.profile-section-wrapper {
  opacity: 0;
  transform: translateY(500px);
  transition: opacity 1s ease, transform 1s ease;
}

.profile-section-wrapper.visible {
  opacity: 1;
  transform: translateY(0);
}
